
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section style="padding: 6rem 5rem; background-color: #F9F3DF ">
    <h1>Do you want to collaborate with us?</h1>
    <br />
    <p class="fs-5">HEALTOWN is a leading provider of healthcare service to businesses in the industry. With a team of experts boasting 
        extensive experience in the field, we are well placed to help our clients grow and thrive - even in challenging times. 
        By really getting to know our customers, our talented team are able to offer unique and customized solutions backed by 
        data driven analysis and broad research.<br /><br />
        As a company we believe in building long lasting client partnerships which help us all grow.</p>
</section>