
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section style="padding: 4rem 5rem; background-color: #F9F3DF ">
    <h1>Do you want to collaborate with us?</h1>
    <br />
    <p>This is the page that will show you our collaboration proposal.</p>
</section>