
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<section style="padding-top: 4rem">
    <h1 class="text-center" style="color: #5e8bad">Our Company</h1>
    <br />
    <p class="text-center">This is the page that will tell you about this start up company description.</p>
</section>
