
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<body>
    <div class="container" style="padding-top: 4rem">
        <div class="row text-center mb-4">
            <div class="col">
                <h1 style="color: #5e8bad">Our Company</h1>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <h2 style="color: #36546b">Google Company</h2>
            </div>
        </div>
        <div class="row justify-content-center text-start fs-6">
            <div class="col-md mb-3">
                <p>Google is not a conventional company, and we don’t intend to become one. True, we share attributes with the 
                    world’s most successful organizations – a focus on innovation and smart business practices comes to mind – 
                    but even as we continue to grow, we’re committed to retaining a small-company feel. At Google, we know that 
                    every employee has something important to say, and that every employee is integral to our success. We provide 
                    individually-tailored compensation packages that can be comprised of competitive salary, bonus, and equity 
                    components, along with the opportunity to earn further financial bonuses and rewards.</p>
            </div>
            <div class="col-md-4 mb-3">
                <p>Googlers thrive in small, focused teams and high-energy environments, believe in the ability of technology 
                    to change the world, and are as passionate about their lives as they are about their work. 
                    <br /><br />Google’s mission is to organize the world’s information and make it universally accessible and 
                    useful.</p>
            </div>
        </div>
    </div>
</body>