
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<body>
    <section class="jumbotron text-center" style="padding-top: 5rem; background-color: #F4D19B">
        <img id="img_logo" alt="MyLogo" src="@Url.Content("~/img/healtown (1).png")" width="200"/>        
        <h1 class="display-4">The Health Town</h1>
        <p class="lead">A town that helps you take care of your health</p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#FDFCE5" fill-opacity="1" d="M0,160L40,165.3C80,171,160,181,240,160C320,139,400,85,480,74.7C560,64,640,96,720,128C800,160,880,192,960,170.7C1040,149,1120,75,1200,69.3C1280,64,1360,128,1400,160L1440,192L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
            </path>
        </svg>
    </section>
</body>
