
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section style="padding-top: 4rem">
    <div class="container">
        <div class="row text-center mb-4">
            <div class="col">
                <h1>Our Services</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card">
                  <img id="medhouse" class="card-img-top" alt="medicalhouse" src="@Url.Content("~/img/medicalhouse.png")"/>
                  <div class="card-body">
                    <p class="fs-5 fw-bold">Medical House</p>
                    <p class="card-text">A place where you can have virtual consultations with the specialists. Users can also 
                        checks out on health-related information like fitness tips, diet food patterns, disease symptoms, and 
                        healthcare remedies.</p>
                  </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                  <img id="chemshop" class="card-img-top" alt="chemistshop" src="@Url.Content("~/img/chemistshop.png")"/>
                  <div class="card-body">
                    <p class="fs-5 fw-bold">Chemist's Shop</p>
                    <p class="card-text">A place where you can offering prescription drugs and non-prescription over-the-counter 
                        (OTC) drugs accepted through mails, shipping companies, or online pharmacy web portals.</p>
                  </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                  <img id="recroom" class="card-img-top" alt="recordroom" src="@Url.Content("~/img/recordroom.png")"/>
                  <div class="card-body">
                    <p class="fs-5 fw-bold">Record Room</p>
                    <p class="card-text">A place where you can track your fitness, weight, diet, food, and sleep. This place 
                        will automatically record many activities, which will help you create a healthy lifestyle. This place 
                        can also track your medical record.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>