
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<section style="padding: 7rem 4rem">
    <h1 class="text-center" style="color: #f0ac41">About Us</h1>
    <br />
    <p class="text-center fs-5">Healtown is a Healthcare application with a town as its user interface concept to make a more fun 
        visual, in this town users can found a medical house where they can have consultation with a doctor, There is also a 
        Chemist's Shop where users can get some medicine by prescription that the user already have, this town also have a 
        record room where the user's health record could be managed. In the future if this town can be expanded and have more 
        places that could be useful for both the user's mental and physical health.</p>
</section>