
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<body>
    <div class="container" style="padding-top: 4rem">
        <div class="row text-center mb-4">
            <div class="col">
                <h1 style="color: #f0ac41">About Us</h1>
            </div>
        </div>
        <div class="row justify-content-center text-center fs-5">
            <div class="col-md-4 mb-3">
                <p>This is the page that will tell you about this start up profile.</p>
            </div>
            <div class="col-md mb-3">
                <p>This is the page that will tell you about this start up profile.</p>
            </div>
        </div>
    </div>
</body>